---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/*
$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;
*/

$right-sidebar-width-narrow: 100px !default;
$right-sidebar-width: 150px !default;
$right-sidebar-width-wide: 200px !default;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

img.circle {
  border-radius: 50%;
}

span.track, span.tag {
  display: inline_block;
  margin-left: 5pt;
  //border: 2pt solid;
  border-radius: 6pt;
  padding: 1pt 10pt 1pt 10pt;
  font-weight: bold;
}

span.track_tvcg {
  background-color: rgb(241,196,0);
  color: darkblue;
}

span.track_conf {
  background-color: rgb(198,53,39);
  color: white;
}

span.track_note {
  background-color: rgb(0,30,98);
  color: white;
}

span.track_workshop_full {
  background-color: rgb(198,53,39);
  color: white;
}

span.track_workshop_short {
  background-color: rgb(0,30,98);
  color: white;
}

span.track_poster {
  background-color: rgb(0,30,98);
  color: white;
}

span.tag_Best_paper, span.tag_Best_poster {
  background-color: gold;
  color: darkblue;
}

span.tag_Honorable_mention, span.tag_Honorable_Mention {
  background-color: skyblue;
  //color: white;
}

span.tag_remote {
  background-color: gray;
  color: white;
  font-weight: normal;
}