---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/*
$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;
*/

$right-sidebar-width-narrow: 100px !default;
$right-sidebar-width: 150px !default;
$right-sidebar-width-wide: 200px !default;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

img.circle {
  border-radius: 50%;
}

span.track {
  display: inline_block;
  margin-left: 5pt;
  //border: 2pt solid;
  border-radius: 6pt;
  padding: 1pt 10pt 1pt 10pt;
  font-weight: bold;
}

span.track_tvcg {
  background-color: gold;
  color: darkblue;
}

span.track_conf {
  background-color: blue;
  color: white;
}

span.track_note {
  background-color: green;
  color: white;
}