---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/*
$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;
*/

$right-sidebar-width-narrow: 50px !default;
$right-sidebar-width: 60px !default;
$right-sidebar-width-wide: 70px !default;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

img.circle {
  border-radius: 50%;
}
